{% extends 'BlogApp/base.html' %}
{% block title %} Ur_Blog : About {% endblock title %}
{% block content %}
    <div class="container my-3">
        <div class="row featurette d-flex justify-content-center align-items-center">
            <div class="col-md-7">
              <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It’ll blow your mind.</span></h2>
              <p class="lead">Some great placeholder content for the first featurette here. Imagine some exciting prose here.</p>
            </div>
            <div class="col-md-5">
                <img src="https://source.unsplash.com/1600x900/?Business,Clients" alt="" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500"  >  
            </div>
          </div>
          <div class="row featurette d-flex justify-content-center align-items-center">
            <div class="col-md-7 order-md-2">
              <h2 class="featurette-heading">Oh yeah, it’s that good. <span class="text-muted">See for yourself.</span></h2>
              <p class="lead">Another featurette? Of course. More placeholder content here to give you an idea of how this layout would work with some actual real-world content in place.</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img src="https://source.unsplash.com/1600x900/?offices,Employees" alt="" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500"  >  
            </div>
          </div>
          <div class="row featurette d-flex justify-content-center align-items-center">
            <div class="col-md-7 order-md-1">
              <h2 class="featurette-heading">Oh yeah, it’s that good. <span class="text-muted">See for yourself.</span></h2>
              <p class="lead">Another featurette? Of course. More placeholder content here to give you an idea of how this layout would work with some actual real-world content in place.</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img src="https://source.unsplash.com/1600x900/?companies,customer" alt="" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500"  > 
            </div>
          </div>
    </div>
{% endblock content %}