<!-- Footer Start -->
       <!-- first part -->
       <div class="container-fluid">
        <div class="row footer-box">
          <div class="col-lg-5 col-11 mt-2 text-center text-footer-h2">
              <h2>
                Connect With Us On <br>
                Social Media
              </h2>
          </div>
          <div class="col-lg-5 col-11">
              <div class="social-media-icon mt-4 mb-3 mx-auto">
                <i class="fa-brands fb-color fa-square-facebook"></i>
                <i class="fa-brands wh-color fa-square-whatsapp"></i>
                <i class="fa-brands gt-color fa-github"></i>
                <i class="fa-brands ln-color fa-linkedin"></i>
                <i class="fa-brands in-color fa-square-instagram"></i>
              </div>
          </div>
        </div>
       </div>

    <!-- second part -->
       <div class="container-fluid">
        <div class="row bg-footer justify-content-evenly">
            <div class="col-lg-5 col-11 mt-4 bg-footer-col">
               <div class="enquiry mt-4">
                
                <form action="">
                  <input type="email" name="" id="" class="form-control email-field " placeholder="Enter your email...">
                  <textarea name="Query" class="textarea-field form-control" placeholder="Enter your query & suggest..."></textarea>
                  <button  class="query-send-btn" type="submit">Send Your Query</button>
                </form>
              
               </div>
            </div>
            <div class="col-lg-5 col-11 mt-3">
             <div class="contact text-center mt-4 mb-5">
              <h2>Contact</h2>
              <div class="contact-detail mt-5">
                <h3><i class="fa-solid fa-house"></i></h3><h6>Delhi NCR, NY 10012, India</h6>
                <h3><i class="fa-solid fa-message"></i></h3><h6>info@urblog.com</h6>
                <h3><i class="fa-solid fa-phone"></i></h3><h6>+ 01 234 567 88</h6>
              </div>
             </div>
            </div>
        </div>
       </div>

       <!-- third part -->
       <div class="container-fluid">
        <div class="row">
          <div class="col-12 footer-third text-center">
            <h6>© 2022 Copyright: <a href=""> www.Ur_Blog.com</a></h6>
          </div>
        </div>
       </div>

  <!-- Footer End-->